.my_panel {
}

    .my_panel .panel-heading {
        text-align: center;
    }



.my_body {
   
    font-size: 13px;
}

    .my_body ul li {
        margin-left: -8%;
    }

    .my_body ul li {
        list-style: none;
        line-height: 22px;
    }

        .my_body ul li:before {
            content: "";
            border-color: transparent #888;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 0.9em;
            position: relative;
        }

        .my_body ul li a {
            text-decoration: none;
        }

.blocks {
    margin-top: 0px;
}

.no-giture {
    padding-left: 10px;
    padding-right: 10px;
}

.news_cont_box .prev {
    background: transparent;
    border: none;
    padding: 0;
}

.news_cont_box .next {
    background: transparent;
    border: none;
    padding: 0;
}

.news_cont_box {
    background: linear-gradient(to bottom,#eee,#fff);
    border-bottom: 2px solid #ddd;
    box-shadow: 0px 3px 3px #eeeeee;
    border: none;
}

    .news_cont_box .glyphicon {
        font-size: 18px;
        color: #000 !important; /*override*/
    }

    .news_cont_box .prev:hover {
        background: none;
        color: #000;
    }

    .news_cont_box .next:hover {
        background: none;
        color: #000;
    }

.Carousel_link .carousel-indicators li {
    background: #ddd;
    border-radius: 0;
    width: 20px;
    height: 8px;
}

.Carousel_link .carousel-indicators .active {
    background: #555;
}

.Carousel_link .carousel-indicators {
    bottom: -20px;
}

.sub_menu_page .breadcrumb {
    background: #efefef;
    height: 34px;
    border-radius: 0;
    text-decoration: none;
}

    .sub_menu_page .breadcrumb a {
        text-decoration: none;
        color: #254585;
    }

.sub_menu_page .sub_menu {
    margin-top: -20px;
    background: linear-gradient(to top,#fff,#e0e0e0,#e0e0e0);
    box-shadow: inset 1px 4px 4px -2px #999;
}

    .sub_menu_page .sub_menu li {
        border-left: 3px solid #e9e9e9;
    }

        .sub_menu_page .sub_menu li:first-child {
            border-left: none;
        }



        .sub_menu_page .sub_menu li a {
            color: #254585;
            font-size: 13px;
        }

            .sub_menu_page .sub_menu li a:hover {
                background: none;
            }

a.up-arrow {
    font-weight: bolder;
}

    a.up-arrow:after {
        content: '';
        display: block;
        position: absolute;
        left: 40%;
        top: 0%;
        width: 0;
        height: 0;
        border-top: 9px solid #254585;
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }

.sub_menu_page .breadcrumb .active {
    font-weight: bolder;
}

.sub_menu_page .nav {
    border: none;
}



.main_bar_nav {
    font-family: 'Ubuntu Condensed', sans-serif;
}

    .main_bar_nav > li {
    }

        .main_bar_nav > li > a {
        }

        .main_bar_nav > li:first-child {
            border-left: none !important;
        }

        .main_bar_nav > li > a:hover {
            background: #0a2761;
            border-top: 4px solid #de5837;
            cursor: pointer;
            margin-top: -4px;
            color: white;
        }

        .main_bar_nav > li :hover + a {
            background: #0a2761;
            border-top: 4px solid #de5837;
            cursor: pointer;
            margin-top: -4px;
            color: white;
        }

.active_link > a {
    background: #0a2761;
    border-top: 4px solid #de5837 !important;
    margin-top: -4px;
}





/* color scheme*/

.heading_first {
    background: linear-gradient(to bottom,#ae3b36,#f27b76);
    box-shadow: 0px 0px 5px #eeeeee;
    color: white;
}

.body_first {
    box-shadow: 0px 0px 5px #eeeeee;
    background: #fff;
    margin-top: 3px;
    padding: 10px;
}

.heading_second {
    background: linear-gradient(to bottom,#348d93,#a0f1f7);
    box-shadow: 0px 0px 5px #eeeeee;
}

.body_second {
    box-shadow: 0px 0px 5px #eeeeee;
    background: #fff;
    margin-top: 3px;
    padding: 10px;
}

.footer_second {
    background: linear-gradient(to bottom,#348d93,#a0f1f7);
}

.heading_third {
    background: linear-gradient(to bottom,#deac33,#fae8bd);
    box-shadow: 0px 0px 5px #eeeeee;
}

.footer_third {
    background: linear-gradient(to bottom,#deac33,#fae8bd);
}

.body_third {
    box-shadow: 0px 0px 5px #eeeeee;
    background: #fff;
    margin-top: 3px;
    padding: 10px;
}

.heading_fourth {
    background: linear-gradient(to bottom,#EF761F,#FFB17A);
    box-shadow: 0px 0px 5px #eeeeee;
    color: white;
}



.body_fourth {
    box-shadow: 0px 0px 5px #eeeeee;
    background: #fff;
    margin-top: 3px;
    padding: 10px;
}

.heading_fifth {
    background: linear-gradient(to bottom,#33de6f,#b3f3ca);
    box-shadow: 0px 0px 5px #eeeeee;
}



.body_fifth {
    box-shadow: 0px 0px 5px #eeeeee;
    background: #fff;
    margin-top: 3px;
    padding: 10px;
}

.heading_sixth {
    background: linear-gradient(to bottom,#9bcc25,#dbfc8a);
    box-shadow: 0px 0px 5px #eeeeee;
}



.body_sixth {
    box-shadow: 0px 0px 5px #eeeeee;
    background: #fff;
    margin-top: 3px;
    padding: 10px;
}

.heading_seven {
    background: linear-gradient(to bottom,#ec0989,#f6aad5);
    box-shadow: 0px 0px 5px #eeeeee;
}



.body_seven {
    box-shadow: 0px 0px 5px #eeeeee;
    background: #fff;
    margin-top: 3px;
    padding: 10px;
}

/* Carousel */



.sidebar-slider.carousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}



.sidebar-slider.carousel .item {
    padding-bottom: 20px;
}

.item h4 {
    font-size: 16px !important;
}

h3 {
    margin: 20px 0;
    font-size: 19px;
}

h2 {
    font-size: 18px;
    color: darkcyan;
}



.sidebar-slider.carousel .carousel-indicators > li {
    background-color: #bbb;
    border: none;
    border-radius: 0;
    width: 18px;
    height: 6px;
}



    .sidebar-slider.carousel .carousel-indicators > li.active {
        background-color: #666;
    }

/*footer style*/

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer_cont {
    background: #2c3e50;
}

.footer {
    background: #2c3e50;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

    .footer p {
        margin: 0;
    }

    .footer img {
        max-width: 100%;
    }

    .footer h3 {
        border-bottom: 1px solid #BAC1C8;
        color: #54697E;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        padding: 40px 0 10px;
        text-transform: uppercase;
    }

    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
        color: #7F8C8D;
    }

        .footer ul li a {
            padding: 0 0 5px 0;
            display: block;
        }

    .footer a {
        color: #78828D;
    }

.footer-bottom {
    background: #233140;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: .8em;
}

    .footer-bottom p.pull-left {
        padding-top: 6px;
    }

.payments {
    font-size: 1.5em;
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}

/*rnd page*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #DDD;
    border-left: 3px solid #bb4742;
    color: #000;
    font-weight: bolder;
}



.margintop20 {
    margin-top: 20px;
}



.nav-pills > li > a {
    border-radius: 0px;
}



a {
    color: #000;
    text-decoration: none;
}



    a:hover {
        color: #000;
        text-decoration: none;
    }





.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
}



.active2 {
    border-right: 4px solid #428bca;
}

.dropdown-menu {
    background-color: #FCFDFF;
}



.free-text-center {
    text-align: justify;
}

/*social icon contact page*/

#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/* 

    Only Needed in Multi-Coloured Variation 

                                               */

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #33ffff;
}

.social-gp:hover {
    color: #d34836;
}

.social-em:hover {
    color: #f39c12;
}

.social-gb:hover {
    color: black;
}

.social-li:hover {
    color: #0000FF;
}

/*feedbak page from contact page*/
.contact_form {
    width: 100%;
}

.heading {
    border-bottom: 1px solid #de5837;
    padding-bottom: 9px;
    position: relative;
}

    .heading span {
        background: #254585 none repeat scroll 0 0;
        bottom: -2px;
        height: 3px;
        left: 0;
        position: absolute;
        width: 75px;
    }

.con_form {
    padding: 0;
    width: 99%;
}

.con_txt[type="text"] {
    margin: 10px 4px;
    padding: 6px;
    width: 204px;
}

.con_txt_3[type="text"] {
    margin: 10px 4px;
    padding: 6px;
    width: 99%;
}

.con_txt2[type="submit"] {
    background: #254585 none repeat scroll 0 0;
    border: medium none;
    border-radius: 27px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 7px 20px;
    text-transform: uppercase;
    transition: all 0.45s ease-in-out 0s;
}

.con_txt2[type="submit"] {
    background: #254585 none repeat scroll 0 0;
    border: medium none;
    border-radius: 27px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 7px 20px;
    text-transform: uppercase;
    transition: all 0.45s ease-in-out 0s;
}

.con_txt2:hover {
    background: #de5837 none repeat scroll 0 0;
    color: #000;
    transition: all 0.5s ease 0s;
}
/*Pointer calculator*/

.price-box {
    margin: 0 auto;
    background: #E9E9E9;
    border-radius: 10px;
    padding: 40px 15px;
    /*width: 500px;*/
}

.ui-widget-content {
    border: 1px solid #bdc3c7;
    background: #e1e1e1;
    color: #222222;
    margin-top: 4px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 7.2em;
    height: 2.7em;
    cursor: default;
    margin: 0 -40px auto !important;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 12px;
}

    .ui-slider .ui-slider-handle .glyphicon {
        color: #FFFFFF;
        margin: 0 1px;
        font-size: 11px;
        opacity: 0.7;
    }

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f9f9f9;
    background: #3498db;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
    cursor: pointer;
    outline: none;
}

.price, .lead p {
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
    line-height: 60px;
    border: 0;
    width: 245px;
}

h4.great {
    background: #00ac98;
    margin: 0 0 25px -60px;
    padding: 7px 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow: 2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow: 2px 4px 5px 0 #ccc;
}

.total {
    border-bottom: 1px solid #7f8c8d;
    /*display: inline;
  padding: 10px 5px;*/
    position: relative;
    padding-bottom: 20px;
}

    .total:before {
        content: "";
        display: inline;
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 100%;
        height: 3px;
        background: #7f8c8d;
        opacity: 0.5;
    }

.price-slider {
    margin-bottom: 70px;
}

    .price-slider span {
        font-weight: 200;
        display: inline-block;
        color: #7f8c8d;
        font-size: 13px;
    }

.form-pricing {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
}

.price-form {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #eeeeee;
    min-height: 520px;
    border-radius: 4px;
    /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
    margin-bottom: 0;
}

    .form-group span.price {
        font-weight: 200;
        display: inline-block;
        color: #7f8c8d;
        font-size: 14px;
    }

.help-text {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #737373;
    /*position: absolute;*/
    /*margin-left: 20px;*/
    font-weight: 200;
    /*text-align: right;*/
    width: 188px;
}

.price-form label {
    font-weight: 200;
    font-size: 21px;
}

img.payment {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ui-slider-range-min {
    background: #2980b9;
}

.active-month,
.active-term {
    background: #3276b1;
}

/* HR */

hr.style {
    margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

/*new flash*/
.news_flash_hoz {
    margin-top: -20px !important;
    margin-bottom: -30px;
}

.hr-primary {
    height: 4px;
    margin-left: 15px;
    margin-bottom: -3px;
    margin-right: 15px;
}

.label_flash {
    margin-top: -7px !important;
    border-radius: 0px !important;
}

.scroll_new_bar {
    width: calc(100% - 111px);
    padding-top: 4px;
    padding-bottom: 5px;
    margin-left: -4px;
}

.hr-warning {
    background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}

.hr-success {
    background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(66,133,244,.8));
}

.hr-danger {
    background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

.breadcrumb-flash {
    background: rgba(245, 245, 245, 0);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    display: block;
}

.home_download_sec {
    color: Blue;
}



.lab_bag_creation {
    padding: 10px;
}

.lab_bag_creation_contain {
    margin-bottom: -20px;
}

.lab_bag_creation_para {
    margin-bottom: 10px;
}

    .lab_bag_creation_para h2 {
        margin-top: 0px;
    }

@media screen and (max-width: 1200px) {
    .main_bar_nav > li > a {
        padding-left: 11px !important;
        padding-right: 11px !important;
    }
}

@media screen and (max-width: 998px) {
    .main_bar_nav > li > a {
        padding-left: 9px !important;
        padding-right: 9px !important;
        font-size: 11px;
    }

    .my_navbar_menu li a {
        height: 50px;
        width: 70px;
        color: #fff;
        font-size: 10px;
        padding: 9px !important;
        position: relative;
        z-index: 1;
        transition: 0.3s;
        box-shadow: 0px 3px 3px #777;
    }

        .my_navbar_menu li a:hover {
            transition: 0.3s;
        }

        .my_navbar_menu li a:after {
            background: inherit;
            bottom: 0;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            transform: skewY(-6.5deg);
            transform-origin: 100%;
            z-index: -1;
            background-image: none !important;
        }

        .my_navbar_menu li a:hover {
            height: 80px;
            transition: 1s;
        }

    .small_limks {
        margin-top: -20px;
    }
}

.table-bordered td a {
    color: navy !important;
    text-decoration: underline !important;
}

.LandbotProactive{

    
    border-radius: 0;
    width: 200px;
    height: 200px;


}

.LandbotProactive {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 6px;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease; }

.LandbotProactive__frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0.9);
  transform-origin: 100% 100% 0;
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.35s ease-out; }

.LandbotProactive[data-open="false"] {
  width: 0;
  height: 0; }
  .LandbotProactive[data-open="false"] .LandbotProactive__frame {
    transform: scale(0.9);
    opacity: 0; }

.LandbotProactive[data-open="true"] {
  width: 378px;
  height: 328px; }
  .LandbotProactive[data-open="true"] .LandbotProactive__frame {
    transform: scale(1);
    opacity: 1; }

@media screen and (min-width: 425px) {
  .LandbotProactive {
    display: block; } }
