@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
   
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.col-md-3 {
    margin: 0px;
    padding: 0 5px;
    margin-left: -10px;
}

h3 {
    color: #bb4742;
    font-size: 18px;
}

.col-sm-3 {
    margin: 0px;
}

col-sm-9 {
    margin: 0px;
    padding: 5px;
}

col-md-9 {
    margin: 0px;
    padding: 0 5px;
}

.col-sm-6 {
    margin: 0px;
    padding: 0 5px;
}

.col-sm-12 {
    margin: 0px;
    padding: 0 5px;
}

.page_zoom_ctrl {
    background-color: gray;
    text-align: center;
    border: none !important;
    border-radius: 0px !important;
}



.well-sm {
    padding: 2px;
}

.page_zoom_ctrl a {
    color: #fff;
    text-decoration: none;
    font-size: .8em;
}

.ctrl_btn {
    margin-top: -5px;
}

    .ctrl_btn button {
        background: transparent;
        font-weight: bolder;
    }

.site_logo img {
    width: 60%;
}

.nav_con {
   
    height: 120px;
    background-size: 100%;
}

.my_navbar {
    font-family: 'Ubuntu Condensed', sans-serif !important;
}

.navbar {
    border: none;
    border-radius: 0;
}

.my_navbar_menu {
    position: absolute;
    top: 0;
    right: 14px;
}
.navbar{
    height:auto !important;
}
    .my_navbar_menu li a {
        height: 60px;
        width: 90px;
        color: #fff;
        position: relative;
        z-index: 1;
        transition: 0.3s;
        box-shadow: 0px 3px 3px #777;
    }

        .my_navbar_menu li a:hover {
            transition: 0.3s;
        }

        .my_navbar_menu li a:after {
            background: inherit;
            bottom: 0;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            transform: skewY(-6.5deg);
            transform-origin: 100%;
            z-index: -1;
            background-image: none !important;
        }

        .my_navbar_menu li a:hover {
            height: 80px;
            transition: 1s;
        }

.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right:18px !important;
    padding-left:18px !important;
}

.small_limks {
    background: #254585;
}

    .small_limks a {
        color: #fff;
        
    }

.thumbnail-box {
    border: none !important;
}

.blocks {
    margin-top: 15px !important;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 1px;
        background-color: gray;
        left: -5%;
        margin-left: -1.5px;
        height: 32vh;
    }
/* carousel code style*/
.carousel_main {
    width: 100%;
    overflow: hidden;
}

    .carousel_main .item {
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }

        .carousel_main .item img {
            width: 100%;
        }

    .carousel_main .left, .carousel_main .right {
        background: none !important;
    }

.leftdiv_details {
    position: absolute;
    padding: 2em;
    top: 0px;
    left: 5%;
    z-index: 1;
    width: 34.4%;
    height: 56vh;
    background: #fff;
}

    .leftdiv_details:after {
        background: inherit;
        bottom: 0;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-6.5deg);
        transform-origin: 100%;
        z-index: -1;
    }

.rightdiv_details {
    position: absolute;
    bottom: 9vh;
    right: 7%;
    z-index: 1;
    width: 11%;
    height: 22vh;
    background: #000;
}

    .rightdiv_details:after {
        background: inherit;
        top: -30px;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-7.5deg);
        transform-origin: 100%;
        z-index: -1;
    }

.slider {
    margin-top: -20px;
}

.dropdown-large {
    position: relative;
}

.dropdown-large-static {
    position: static !important;
}

.dropdown-menu-large {
    padding: 10px 0px;
}

    .dropdown-menu-large > li {
        width: 260px;
    }

        .dropdown-menu-large > li > ul {
            padding: 0;
            margin: 0;
        }

            .dropdown-menu-large > li > ul > li {
                list-style: none;
                border-bottom: 1px dotted silver;
                padding: 5px 0;
            }

                .dropdown-menu-large > li > ul > li > a {
                    display: block;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: #333333;
                    white-space: normal;
                }

        .dropdown-menu-large > li ul > li > a:hover,
        .dropdown-menu-large > li ul > li > a:focus {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }

    .dropdown-menu-large .disabled > a,
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }

        .dropdown-menu-large .disabled > a:hover,
        .dropdown-menu-large .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

    .dropdown-menu-large .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

        .dropdown-menu-large > li {
            margin-bottom: 30px;
        }

            .dropdown-menu-large > li:last-child {
                margin-bottom: 0;
            }

        .dropdown-menu-large .dropdown-header {
            padding: 3px 15px !important;
        }
}

.dropdown-large:hover > .dropdown-menu {
    display: block;
}

.sub_menu_page {
  
}
.newsUl li{
    border-bottom:1px dotted silver;
    padding:2px 0;
}